extends layout

block content
	h1 COMMANDs

	p= command

	//- Set the form action based on edit or add
	- var action = (command ? '/command/edit/' + command.command_name : '/command/add')

	if command
		//- EDIT existing command (prefill fields)
		form(name="command_options" action=action method="post")
			p Command Name
				- var value = (command['command_name'] ? command['command_name'] : '');
				input(type="text" name="command_name" value=value)
				
			p Command Line
				- var value = (command['command_line'] ? command['command_line'] : '');
				input(type="text" name="command_line" value=value)

			input(type="submit")

	else
		//- ADD new command
		form(name="command_options" action=action method="post")
			p Command Name
				input(type="text" name="command_name")
			
			p Command Line
				input(type="text" name="command_line")
			
			input(type="submit")