extends layout

block content
	.commands
		h1 Commands

		if command
			h4= "Editing: " + command.command_name

		//- Set the form action based on edit or add
		- var action = (command ? '/command/edit/' + command.command_name : '/command/add')

		if command
			//- EDIT existing command (prefill fields)
			form(name="command_options" action=action method="post")
				table
					tr
						td Command Name
						td
							- var value = (command['command_name'] ? command['command_name'] : '');
							input.width300(type="text" name="command_name" value=value)
					tr				
						td Command Line
						td
							- var value = (command['command_line'] ? command['command_line'] : '');
							input.width300(type="text" name="command_line" value=value)

					tr
						td Check Command
						td
							- var value = (command['check_command'] == true ? 'checked' : '');
							if value == "checked"
								input(type="checkbox" name="check_command" checked)
							else
								input(type="checkbox" name="check_command")

					tr
						td
							input(type="submit")

		else
			//- ADD new command
			form(name="command_options" action=action method="post")
				table
					tr
						td Command Name
						td 
							input(type="text" name="command_name")
				
					tr
						td Command Line
						td
							input(type="text" name="command_line")

					tr
						td Check Command
						td
							input(type="checkbox" name="check_command")

				input(type="submit")