extends layout
//- Mixins included in layout.jade
block content

	.contacts

		h1 Contacts

		if contact
			h4= "Editing: " + contact.contact_name

		//- Set the form action based on edit or add
		- var action = (contact ? '/contact/edit/' + contact.contact_name : '/contact/add')

		if contact
			//- EDIT existing contact (prefill fields)
			form(name="contact_options" action=action method="post")
				table
					+textbox('Contact Name','contact_name',contact.contact_name)
					+textbox('Alias','alias',contact.alias)
					+textbox('Email Address','email',contact.email)
					+textbox('Pager','pager',contact.pager)


					//-*********** HOSTS ***********//
					tr
						td Host Notification Period
						td
							select.width200(name="host_notification_period")
								each timeperiod in time_periods
									if timeperiod.timeperiod_name == contact.host_notification_period
										option(value=timeperiod.timeperiod_name selected)= timeperiod.timeperiod_name
									else
										option(value=timeperiod.timeperiod_name)= timeperiod.timeperiod_name
					//- +selectbox('Host Notification Period','host_notification_period',time_periods,timeperiod_name,contact.host_notification_period)

					
					+checkbox('Host Notifications Enabled','host_notifications_enabled',contact.host_notifications_enabled)
					+checkbox('Notify on DOWN events?','host_notification_options.down',contact.host_notification_options.down)
					+checkbox('Notify on UP events?','host_notification_options.up',contact.host_notification_options.up)
					+checkbox('Notify on RECOVERY events?','host_notification_options.recoveries',contact.host_notification_options.up)
					+checkbox('Notify on FLAPPING events?','host_notification_options.flapping',contact.host_notification_options.up)
					+checkbox('Notify on SCHEDULED (scheduled down and up) events?','host_notification_options.scheduled',contact.host_notification_options.up)


					//-*********** SERVICES ***********//
					tr
						td Service Notifications Enabled
						td
							- var value = (contact.service_notifications_enabled == true ? 'checked' : '');
							if value == "checked"
								input(type="checkbox" name="service_notifications_enabled" checked)
							else
								input(type="checkbox" name="service_notifications_enabled")

					tr
						td Service Notification Period
						td
							select.width200(name="service_notification_period")
								each timeperiod in time_periods
									if timeperiod.timeperiod_name == contact.service_notification_period
										option(value=timeperiod.timeperiod_name selected)= timeperiod.timeperiod_name
									else
										option(value=timeperiod.timeperiod_name)= timeperiod.timeperiod_name


					tr
						td
							input(type="submit")

		else
			//- ADD new contact
			form(name="contact_options" action=action method="post")
				table
					+textbox('Contact Name','contact_name')
					+textbox('Alias','alias')
					+textbox('Email','email')
					+textbox('Pager','pager')

					//-*********** HOSTS ***********//
					tr
						td Host Notification Period
						td
							select.width200(name="host_notification_period")
								each timeperiod in time_periods
									option(value=timeperiod.timeperiod_name)= timeperiod.timeperiod_name

					+checkbox('Host Notifications Enabled','host_notifications_enabled')
					+checkbox('Notify on DOWN events?','host_notification_options.down')
					+checkbox('Notify on UP events?','host_notification_options.up')
					+checkbox('Notify on RECOVERY events?','host_notification_options.recoveries')
					+checkbox('Notify on FLAPPING events?','host_notification_options.flapping')
					+checkbox('Notify on SCHEDULED (scheduled down and up) events?','host_notification_options.scheduled')


					//-*********** Services ***********//
					tr
						+checkbox('Service Notifications Enabled','service_notifications_enabled')
						td Service Notification Period
						td
							select.width200(name="service_notification_period")
								each timeperiod in time_periods
										option(value=timeperiod.timeperiod_name)= timeperiod.timeperiod_name
				
				input(type="submit")
