extends layout

block content
	script.
	include includes/membershipControl


	h1 Hostgroups

	if hostgroup
		h4= "Editing: " + hostgroup.hostgroup_name

	//- Set the form action based on edit or add
	- var action = (hostgroup ? '/hostgroup/edit/' + hostgroup.hostgroup_name : '/hostgroup/add')

	if hostgroup
		//- EDIT existing hostgroup (prefill fields)
		form(name="hostgroup_options" action=action method="post")
				table
					tr
						td Host Name
						td
							if hostgroup['hostgroup_name']
								input.width200(type="text" name="hostgroup_name" value=hostgroup['hostgroup_name'])
					
					tr
						td Alias
						td
							if hostgroup['alias']
								input.width200(type="text" name="alias" value=hostgroup['alias'])

					tr
						td(colspan=2)
							+membershipControl(hgMembership.members, hgMembership.nonmembers, 'host_name', 'host_name')


				input(type="submit" onclick="selectAllOptions();")

	else
		//- ADD new hostgroup
		form(name="hostgroup_options" action=action method="post")
			table
				tr
					td Host Name
					td
						input.width200(type="text" name="hostgroup_name")
			
				tr
					td Alias
					td
						input.width200(type="text" name="alias")

				tr
					td(colspan=2)
						+membershipControl(hgMembership.members, hgMembership.nonmembers, 'host_name', 'host_name')

			input(type="submit" onclick="selectAllOptions();")