extends layout

block content
	script.

		// Move select options between two different select boxes
		var toggleListbox = function(source,destination){
			for (index in source.selectedOptions){
				var option = source.selectedOptions[index];
				source.removeChild(option);
				destination.appendChild(option);
			}
		}

		// Select all select options before submitting
		var selectAllOptions = function(){
			// http://stackoverflow.com/questions/15190464/how-do-i-post-all-options-in-a-select-list
			var form = document.getElementById("hostform");
			var selectBoxIDs = ['isMember', 'isNotMember'];
			var selectBoxes = document.getElementsByTagName('select');
			var i = null;

			for (index in selectBoxes){
				var selectBox = selectBoxes[index];

				for (i=0; i<selectBox.options.length; i++){
					selectBox.options[i].selected = true;
				}
			}
		}


	h1 Hosts
	
	if host
		h4= "Editing: " + host.host_name

	//- Set the form action based on edit or add
	- var action = (host ? '/host/edit/' + host.host_name : '/host/add')

	if host
		//- EDIT existing host (prefill fields)
		form(id="hostform" name="host_options" action=action method="post")
			table
				tr
					td Host Name
					td
						if host.host_name
							input.width200(type="text" name="host_name" value=host.host_name)

				tr
					td IP Address
					td
						if host.address
							input.width200(type="text" name="address" value=host.address)
				
				tr
					td Alias
					td
						if host['alias']
							input.width200(type="text" name="alias" value=host['alias'])
							
				tr
					td Check Command
					td
						select.width200(name="check_command")
							each command in check_commands
								if command.command_name == host['check_command']
									option(value=command.command_name selected)= command.command_name
								else
									option(value=command.command_name)= command.command_name

				//- tr
				//- 	td(colspan=2)
				//- 		+membershipControl(hostgroups.isMember,hostgroups.isNotMember,'hostgroup_name','hostgroup_name')

			//- p Check Interval
			//- 	input(type="text" name="check_interval")
			
			//- p Retry Interval
			//- 	input(type="text" name="retry_interval")
			
			//- p Max Check Attempts
			//- 	input(type="text" name="max_check_attempts")
			
			//- p Check Period
			//- 	input(type="text" name="check_period")
			
			//- p Contact Groups
			//- 	input(type="text" name="contact_groups")
			
			//- p Notification Interval
			//- 	input(type="text" name="notification_interval")
			
			//- p Notification Period
			//- 	input(type="text" name="notification_period")
			
			//- p Notification Options
			//- 	input(type="checkbox" name="notification_options" value="down")
			//- 	input(type="checkbox" name="notification_options" value="unreachable")
			//- 	input(type="checkbox" name="notification_options" value="recovery")
			//- 	input(type="checkbox" name="notification_options" value="flapping")
			//- 	input(type="checkbox" name="notification_options" value="scheduled")
			
			//- p Parents/Dependencies
			//- 	input(type="text" name="parents")

			input(type="submit" onclick="selectAllOptions();")

	else
		//- ADD new host
		form(name="host_options" action=action method="post")
			table
				tr
					td Host Name
					td 
						input.width200(type="text" name="host_name")

				tr
					td IP Address
					td
						input.width200(type="text" name="address")

				tr
					td Alias
					td
						input.width200(type="text" name="alias")

				tr
					td Check Command
					td
						select.width200(name="check_command")
						each command in check_commands
							option(value=command.command_name)= command.command_name


			//- label Host Groups
			//- br
			//- each hostgroup in hostgroups
			//- 	input(type="checkbox" name="hostgroup[]" value=hostgroup.hostgroup_name)
			//- 	span= hostgroup.hostgroup_name
			//- 	br

			//- p Check Interval
			//- 	input(type="text" name="check_interval")
			
			//- p Retry Interval
			//- 	input(type="text" name="retry_interval")
			
			//- p Max Check Attempts
			//- 	input(type="text" name="max_check_attempts")
			
			//- p Check Period
			//- 	input(type="text" name="check_period")
			
			//- p Contact Groups
			//- 	input(type="text" name="contact_groups")
			
			//- p Notification Interval
			//- 	input(type="text" name="notification_interval")
			
			//- p Notification Period
			//- 	input(type="text" name="notification_period")
			
			//- p Notification Options
			//- 	input(type="checkbox" name="notification_options" value="down")
			//- 	input(type="checkbox" name="notification_options" value="unreachable")
			//- 	input(type="checkbox" name="notification_options" value="recovery")
			//- 	input(type="checkbox" name="notification_options" value="flapping")
			//- 	input(type="checkbox" name="notification_options" value="scheduled")
			
			//- p Parents/Dependencies
			//- 	input(type="text" name="parents")
		
			input(type="submit" value="Submit" onclick="selectAllOptions();")