extends layout

block content
	h1 SERVICEGROUPs

	p= servicegroup

	//- Set the form action based on edit or add
	- var action = (servicegroup ? '/servicegroup/edit/' + servicegroup.servicegroup_name : '/servicegroup/add')

	if servicegroup
		//- EDIT existing servicegroup (prefill fields)
		form(name="servicegroup_options" action=action method="post")
			p Host Name
				if servicegroup['servicegroup_name']
					input(type="text" name="servicegroup_name" value=servicegroup['servicegroup_name'])
				
			p Alias
				if servicegroup['alias']
					input(type="text" name="alias" value=servicegroup['alias'])

			input(type="submit")

	else
		//- ADD new servicegroup
		form(name="servicegroup_options" action=action method="post")
			p Host Name
				input(type="text" name="servicegroup_name")
			
			p Alias
				input(type="text" name="alias")
			
			input(type="submit")