extends layout

block content
	h1 SERVICEs

	p= service

	//- Set the form action based on edit or add
	- var action = (service ? '/service/edit/' + service.service_name : '/service/add')

	if service
		//- EDIT existing service (prefill fields)
		form(name="service_options" action=action method="post")
			p Host Name
				if service['service_name']
					input(type="text" name="service_name" value=service['service_description'])
				
			p Alias
				if service['alias']
					input(type="text" name="alias" value=service['alias'])

			input(type="submit")

	else
		//- ADD new service
		form(name="service_options" action=action method="post")
			p Host Name
				input(type="text" name="service_description")
			
			p Alias
				input(type="text" name="alias")
			
			input(type="submit")