extends layout

block content
	h1 Services

	if service
		h4="Editing: " + service.service_name

	//- Set the form action based on edit or add
	- var action = (service ? '/service/edit/' + service.service_description : '/service/add')

	if service
		//- EDIT existing service (prefill fields)
		form(name="service_options" action=action method="post")
			table
				tr
					td Service Description
					td
						if service['service_description']
							input.width200(type="text" name="service_description" value=service['service_description'])
				
				//- tr

				//- 	p Hosts
				//- 	table.membershipControl
				//- 		tr
				//- 			td
				//- 				select(id="isNotMember" multiple size="5" name="isNotMember")
				//- 					each host in hosts.nonMember
				//- 						option(value=host.host_name)= host.host_name

				//- 			td
				//- 				input(type="button" onclick="toggleListbox(this.form.isNotMember, this.form.isMember)" value="->")
				//- 				br
				//- 				input(type="button" onclick="toggleListbox(this.form.isMember, this.form.isNotMember)" value="<-")

				//- 			td
				//- 				select(id="isMember" multiple size="5" name="isMember")
				//- 					each host in hosts.member
				//- 						option(value=host.host_name)= host.host_name


			input(type="submit")

	else
		//- ADD new service
		form(name="service_options" action=action method="post")
			table
				tr
					td Service Description
					td
						input.width200(type="text" name="service_description")
			
				tr
					td Check Command
					td
						select.width200
						each command in commands
							option(value="command.command_name")= command.command_name

			//- p Hosts
			//- table
			//- 	tr
			//- 		td
			//- 			select(id="isNotMember" multiple size="5" name="isNotMember")
			//- 				each host in hosts.nonMember
			//- 					option(value=host.host_name)= host.host_name

			//- 		td
			//- 			input(type="button" onclick="toggleListbox(this.form.isNotMember, this.form.isMember)" value="->")
			//- 			br
			//- 			input(type="button" onclick="toggleListbox(this.form.isMember, this.form.isNotMember)" value="<-")

			//- 		td
			//- 			select(id="isMember" multiple size="5" name="isMember")
			//- 				each host in hosts.member
			//- 					option(value=host.host_name)= host.host_name


			//- p Host Groups
			//- table
			//- 	tr
			//- 		td
			//- 			select(id="isNotMember" multiple size="5" name="isNotMember")
			//- 				each hostgroup in hostgroups.nonMember
			//- 					option(value=hostgroup.hostgroup_name)= hostgroup.hostgroup_name

			//- 		td
			//- 			input(type="button" onclick="toggleListbox(this.form.isNotMember, this.form.isMember)" value="->")
			//- 			br
			//- 			input(type="button" onclick="toggleListbox(this.form.isMember, this.form.isNotMember)" value="<-")

			//- 		td
			//- 			select(id="isMember" multiple size="5" name="isMember")
			//- 				each hostgroup in hostgroups.member
			//- 					option(value=hostgroup.hostgroup_name)= hostgroup.hostgroup_name

			input(type="submit")