extends layout

block content
	h1 Servicegroups

	if servicegroup
		h4="Editing: " + servicegroup.servicegroup_name

	//- Set the form action based on edit or add
	- var action = (servicegroup ? '/servicegroup/edit/' + servicegroup.servicegroup_name : '/servicegroup/add')

	if servicegroup
		//- EDIT existing servicegroup (prefill fields)
		form(name="servicegroup_options" action=action method="post")
			table
				tr
					td Host Name
					td
						if servicegroup['servicegroup_name']
							input(type="text" name="servicegroup_name" value=servicegroup['servicegroup_name'])
				
				tr
					td Alias
					td
						if servicegroup['alias']
							input(type="text" name="alias" value=servicegroup['alias'])

			input(type="submit")

	else
		//- ADD new servicegroup
		form(name="servicegroup_options" action=action method="post")
			table
				tr
					td Host Name
					td
						input(type="text" name="servicegroup_name")
				
				tr
					td Alias
					td
						input(type="text" name="alias")
			
			input(type="submit")