mixin textbox(label, inputName, value)
	if value
		tr
			td= label
			td
				- var inputValue = (value ? value : '');
				input.width200(type="text" name=inputName value=inputValue )
	else
		tr
			td= label
			td
				input.width200(type="text" name=inputName)


mixin rulebox(rowId, inputName, value)
	if value
		tr(id=rowId)
			td(colspan="2")
				-var inputValue = (value ? value: '')
				input.timePeriodRuleInput(type="text" name=inputName value=inputValue)
				a(href="javascript:void(0);" onclick="removeById('" + rowId + "');") Remove
	else
		tr(id=rowId)
			td(colspan="2")
				input.timePeriodRuleInput(type="text" name=inputName)
				a(href="javascript:void(0);" onclick="removeById('" + rowId + "');") Remove



mixin selectbox(label, inputName, dataArray, propertyName, selectedOption)
	tr
		td= label
		td
			select.width200(name=inputName)
				each element in dataArray
					if element[propertyName] == selectedOption
						option(value=element[propertyName] selected)= element[propertyName]
					else
						option(value=element[propertyName])= element[propertyName]



mixin checkboxTR(label, checkboxName, value)
	if value !== undefined
		tr
			td= label
			td
				- var checked = (value === true ? 'checked' : '');
				if checked === "checked"
					input(type="checkbox" name=checkboxName checked)
				else
					input(type="checkbox" name=checkboxName)
	else
		tr
			td= label
			td
				input(type="checkbox" name=checkboxName checked)


mixin checkbox(label, checkboxName, value)
	if value !== undefined
			- var checked = (value === true ? 'checked' : '');
			if checked === "checked"
				label
					input(type="checkbox" name=checkboxName checked)
					span= label
			else
				label
					input(type="checkbox" name=checkboxName)
					span= label
	else
		label
			input(type="checkbox" name=checkboxName checked)
			span= label




mixin membershipControl(isMember, isNotMember, resourceName, valueAttr)
	- var isMemberID = resourceName + "_isMember";
	- var isNotMemberID = resourceName + "_isNotMember";

	.membershipControl
		table
			tr
				td
					select(id=isNotMemberID multiple size="5" name=isNotMemberID)
						each nonMember in isNotMember
							option(value=nonMember[valueAttr])= nonMember[valueAttr]

				td
					input(type="button" onclick="toggleListbox(this.form." + isNotMemberID + ", this.form." + isMemberID + ")" value="->")
					br
					input(type="button" onclick="toggleListbox(this.form." + isMemberID + ", this.form." + isNotMemberID + ")" value="<-")

				td
					select(id=isMemberID multiple size="5" name=isMemberID)
						each member in isMember
							if member
							option(value=member[valueAttr])= member[valueAttr]